<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav>
    <div class="navbar">
        <a class="authlink" href="/">Home</a>
        <% if (user) { %>
        <a class="authlink" href="/users/<%= user._id %>/foods">View my Pantry</a>
        <a class="authlink" href="/usernames">Explore Our Community</a>
        <a class="authlink" href="/auth/sign-out">Sign Out</a>
        <% } else { %>
        <a class="authlink" href="/auth/sign-in">Sign In</a>
        <a class="authlink" href="/auth/sign-up">Sign Up</a>
        <% } %>
    </div>
</nav>