<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= username.username %>'s Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= username.username %>'s Pantry</h1>

    <% if (pantry.length === 0) { %>
        <p id="no-items-msg">This user does not have any items in their pantry yet.</p>
    <% } else { %>
        <div class="other-pantry-container">
            <ul>
            <% pantry.forEach((item) => { %>
                <li><%= item.name %></li>
            <% }) %>
            </ul>
        </div>
    <% } %>
    
</body>
</html>